set_io cols[0] 19
set_io cols[1] 11
set_io cols[2] 6
set_io cols[3] 4
set_io reset 34
set_io col_leds[0] 28
set_io col_leds[1] 38
set_io col_leds[2] 42
set_io col_leds[3] 21
set_io rows[0] 12
set_io rows[1] 9
set_io rows[2] 44
set_io rows[3] 3
set_io seg[0] 46
set_io seg[1] 45
set_io seg[2] 48
set_io seg[3] 47
set_io seg[4] 2
set_io seg[5] 18
set_io seg[6] 13
set_io anode_0 10
set_io anode_1 20